* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 3px solid black;
    margin: 0 auto;
    width: 80%;
}

.square {
    width: 150px;
    height: 150px;
}

.red {
    background-color: red;
    position: relative;
    left: 20px;
}

.blue {
    background-color: blue;
    position: relative;
    top: 20px;
    border: 1px solid orange;
}

.green {
    background-color: green;
    position: relative;
    right: 20px;
}

.yellow {
    background-color: yellow;
    position: absolute;
    top: 0;
}

.aqua {
    background-color: aqua;
    position: absolute;
    right: 0;
}

.gray {
    background-color: gray;
    position: absolute;
    left: 0;
}

.blueviolet {
    background-color: blueviolet;
    position: fixed;
    top: 0;
}

.chocolate {
    background-color: chocolate;
}

.black {
    background-color: black;
}


